/**************
Bubble List Style
***************/
/***Variables***/
//Set the radius in the js file
//Base bubble
$baseBubbleDiameter: 100px;
$selectedBubbleDiameter: 300px;
$baseBorderWidth: 2px;
$borderStyle: solid;
$borderColor: #000000;
$backgroundImageOpacityBase: .6;
$backgroundColor: #ffffff;

//Hovered bubble
$bannerWhenHovered: true;
$backgroundImageOpacityHovered: 1;

//Selected bubble
$bannerWhenSelected: true;

//Banner
$bannerBackgroundColor: #000000;
$bannerFontColor: #ffffff;
$bannerFontSize: 20pt;
$bannerHeight: 33pt;
$bannerTitleFont: "Caviar Dreams";
$bannerTitleFontSize: 30pt;

//Header
$headerBackgroundColor: #000000;
$headerHeight: 50px;
$headerWidth: 100px; //Set to a number greater then the diameter of the bubble to have banner cutoff at ends
$headerTitleFont: initial;
$headerTitleFontSize: 30pt;

//Footer
$footerBackgroundColor: #000000;
$footerHeight: 50px;
$footerWidth: 100px; //Set to a number greater then the diameter of the bubble to have banner cutoff at ends
$footerFont: initial;
$footerFontSize: 30pt;

.bubbleList {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0;
  list-style: none;
}

.bubbleContainer {
  position: absolute;
  width: $baseBubbleDiameter;
  height: $baseBubbleDiameter;
  -webkit-border-radius: 10000px;
  -moz-border-radius: 10000px;
  border-radius: 10000px;
}

.bubble{
  position: absolute;
  margin-top: -.5 * $baseBubbleDiameter;
  margin-left: -.5 * $baseBubbleDiameter;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $backgroundColor;
  background-size: 100%;
  opacity: $backgroundImageOpacityBase;
  -webkit-border-radius: 10000px;
  -moz-border-radius: 10000px;
  border-radius: 10000px;
  border: $baseBorderWidth $borderStyle $borderColor;
  -webkit-transition:  ease-in-out .1s, transform 0s, margin-bottom 0s;
  -moz-transition: ease-in-out .1s, transform 0s, margin-bottom 0s;
  -ms-transition: ease-in-out .1s, transform 0s, margin-bottom 0s;
  -o-transition: ease-in-out .1s, transform 0s, margin-bottom 0s;
  transition: ease-in-out .1s, transform 0s, margin-bottom 0s;
  //transition-property: width, height, margin-top, margin-left, opacity, border, position, ;
}

.bubbleContainer:hover {
  z-index: 10000;
  border: none;
}

.bubble:hover {
  width: $selectedBubbleDiameter;
  height: $selectedBubbleDiameter;
  margin-top: -.5 * $selectedBubbleDiameter;
  margin-left: -.5 * $selectedBubbleDiameter;
  opacity: $backgroundImageOpacityHovered;
  border: $baseBorderWidth $borderStyle $borderColor;
  cursor: pointer;
  -webkit-transition:  ease-in-out .1s, transform 0s, margin-bottom 0s;
  -moz-transition: ease-in-out .1s, transform 0s, margin-bottom 0s;
  -ms-transition: ease-in-out .1s, transform 0s, margin-bottom 0s;
  -o-transition: ease-in-out .1s, transform 0s, margin-bottom 0s;
  transition: ease-in-out .1s, transform 0s, margin-bottom 0s;
  //transition-property: width, height, margin-top, margin-left, opacity, border;

  .bubbleBanner {
    display: initial;
    transition: all ease-in-out 0s !important;
  }
}

//********************
//*Bubble
//********************
.selectedBubbleContainer {
  position: relative;
}

.bubbleBackgroundImage {
  display: none;
}

.bubbleBackgroundText {
  display: none;
}

.bubbleBanner {
  display: none;
  margin-top: ($selectedBubbleDiameter * .5) - ($bannerHeight * .5);
  width: 102%;
  height: $bannerHeight;
  line-height: $bannerHeight;
  font-size: $bannerFontSize;
  font-family: $bannerTitleFont, sans-serif;
  background-color: $bannerBackgroundColor;
  color: $bannerFontColor;
  text-align: center;
  transition: all ease-in-out 0s !important;
}

.bubbleHeader {
  display: none;
}

.bubbleFooter {
  display: none;
}

.bubbleText {
  display: none;
}